$lime-green: hsl(77, 100%, 56%);
$tea-green: hsl(121, 17%, 53%);
$violet: hsl(279, 41%, 92%);
$purple-navy: hsl(260, 22%, 43%);
$dark-violet: hsl(263, 71%, 28%);

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $purple-navy;
}

.section-title {
  width: 100%;
  margin: 1em 0 1em;
  padding: 0.2em 0.5ch;
  box-shadow: 0 5px 5px $dark-violet;
  font-size: 2em;
  text-align: left;
  background-color: $lime-green;
  color: $dark-violet;
}

.post-form > * {
  margin: 0.5rem auto;
  display: block;
}

.post-form input {
  border: none;
  font-size: 1.3rem;
  border-radius: 4px;
  width: 90%;
  margin: 1rem 5%;

  background-color: $violet;
  box-shadow: 3px 3px 3px $dark-violet;
}

.post-form textarea {
  height: 6em;
  width: 90%;
  margin: 1rem 5%;
  border-radius: 4px;
  font-size: 1.3rem;
  background-color: $violet;
  box-shadow: 3px 3px 3px $dark-violet;
  resize: none;
}

.post-form label {
  width: min(80%, 570px);
  padding: 1rem 0.5rem 0.5rem;
  text-indent: 1ch;
  font-size: 1.4em;
  font-weight: 600;
  color: $lime-green;
  background-color: $tea-green;
  border-radius: 8px;
  box-shadow: 3px 3px 3px $dark-violet;
}

.post-form button {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  color: $dark-violet;
  background-color: $lime-green;
  border-radius: 9999px;
  box-shadow: 3px 3px 3px $dark-violet;

  cursor: pointer;
}

.post {
  margin: 1em auto 0;
  padding: 1em 1rem 1rem;
  width: 80%;
  background-color: $tea-green;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $dark-violet;
}

.post__title {
  padding-bottom: 0.5rem;
  font-size: 1.5em;
  color: $lime-green;
}

.post__body {
  padding: 1em 1ch;
  padding-bottom: 1em;
  font-size: 1.2em;
  color: $dark-violet;
  background-color: $lime-green;
  border-radius: 8px;
}
