// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

:root {
  --img-index: 0;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio__display {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;

  position: relative;
  // width: clamp(280px, 100vw, 800px);
  width: clamp(280px, 100%, 1000px);
  aspect-ratio: 16/9;
  overflow: hidden;
}

.portfolio__slider {
  display: flex;
  transform: translateX(calc(-100% * var(--img-index)));
  transition: transform 0.2s;
  grid-column: 1/4;
  grid-row: 1/4;
}

.portfolio__display img {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: left top;
}

.portfolio__arrow {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  // padding-top: 20%;
  height: 100%;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}
.portfolio__arrow--next {
  grid-column: 3/4;
  justify-self: end;
}

.portfolio__arrow svg {
  width: clamp(30px, 10vw, 80px);
  height: clamp(30px, 10vw, 80px);
}

.portfolio__dots {
  display: flex;
  // position: absolute;
  justify-self: center;
  align-self: end;
  // background-color: red;
  grid-column: 1/4;
  grid-row: 3/4;
  margin-bottom: 10px;
  gap: clamp(10px, 4vw, 20px);
  z-index: 1;
}

.portfolio__dot {
  display: inline-block;
  height: clamp(4px, 6vw, 15px);
  width: clamp(4px, 6vw, 15px);
  background-color: white;
  border: none;
  border-radius: 9999vw;
  // box-shadow: 0 0 0px 1px black;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
  transition: background-color 0.2s;
}

.portfolio__dot:hover {
  background-color: #aaa;
}

.portfolio__dot--current,
.portfolio__dot--current:hover {
  background-color: black;
  cursor: default;
}

.portfolio__description {
  padding: 0 1ch;
  display: block;
  min-height: 10em;
  // width: 50%;
  // text-indent: 1ch;
}

@media only screen and (min-width: 1000px) {
  .portfolio-wrapper {
    flex-direction: row;
  }

  .portfolio__display {
    width: clamp(800px, 70%, 2000px);
  }
}
