$aspect-ratio-16-9: 0.5625;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

:root {
  --shadow-color: #ddd;
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  width: min(100vw, 600px);

  height: min(100vw * $aspect-ratio-16-9, 600px * $aspect-ratio-16-9);
}

.portfolio__display {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/4;
  width: min(100vw, 600px);
  height: min(100vw * $aspect-ratio-16-9, 600px * $aspect-ratio-16-9);
  // aspect-ratio: 16/9;
  overflow: hidden;
}

.portfolio__display img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: left top;
}

.portfolio__description {
  /* background-color: red; */
  justify-self: center;
  grid-column: 1/4;
  grid-row: 4/5;
}

.portfolio__arrow {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: 40px;
  color: white;
  cursor: pointer;

  filter: drop-shadow(-1px -1px 0 var(--shadow-color))
    drop-shadow(1px -1px 0 var(--shadow-color))
    drop-shadow(1px 1px 0 var(--shadow-color))
    drop-shadow(-1px 1px 0 var(--shadow-color));
  transition: all 0.3s;
}
.portfolio__arrow--next {
  grid-column: 3/4;
  justify-self: end;
}

.portfolio__arrow:hover {
  --shadow-color: black;
}

.portfolio__arrow:hover svg {
  transition: all 0.3s;
}

.portfolio__arrow:hover svg {
  stroke: white;
}

.portfolio__dots {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: end;
  /* background-color: red; */
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 10px;
  gap: clamp(10px, 4vw, 20px);
}

.portfolio__dot {
  display: inline-block;
  height: clamp(8px, 5vw, 15px);
  width: clamp(8px, 5vw, 15px);
  background-color: white;
  border: none;
  border-radius: 999vw;
  // box-shadow: 0 0 0px 1px black;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
  transition: background-color 0.2s;
}

.portfolio__dot:hover {
  background-color: #aaa;
}

.portfolio__dot--current {
  background-color: black;
  cursor: default;
}

.portfolio__cover {
  position: absolute;
  inset: 0 0 0 0;
  background: linear-gradient(to top, #ccc 10%, rgba(0, 0, 0, 0) 90%);
  background-size: 100% 1000%;
}

.portfolio__cover--animate {
  animation: bg-pan-left 0.4s ease-in-out;
}

@keyframes bg-pan-left {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
