@use "./partial-scss/portfolio";
@use "./partial-scss/skills";
@use "./partial-scss/header";
@use "./partial-scss/round-a-btn";
@use "./partial-scss/about";
@use "./partial-scss/footer";
@use "./partial-scss/variables" as *;

* {
  font-family: "Quicksand", sans-serif;
}

body,
html {
  min-width: 280px;
  margin: 0;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 1em 0;
  font-size: 2em;
  font-weight: 600;
}

header,
footer,
section {
  --padding: clamp(20px, 3vw, 100px);
  padding-left: var(--padding);
  padding-right: var(--padding);

  // border: 1px solid red;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
// .dark-style {
//   background-color: $bg-dark;
//   color: $font-light;
// }

// .light-style {
//   background-color: $bg-light;
//   color: $font-dark;
// }
.App > *:nth-child(odd) {
  background-color: $bg-dark;
  color: $font-light;
}
.App > *:nth-child(odd) svg {
  fill: $font-light;
}
.App > *:nth-child(even) {
  background-color: $bg-light;
  color: $font-dark;
}

.App > *:nth-child(even) svg {
  fill: $font-dark;
}

.bigger-text {
  font-size: 2em;
  font-weight: 600;
}

.big-text {
  font-size: 1.3em;
}

@media only screen and (min-width: 1000px) {
  .high-width-center {
    max-width: 1000px;
    margin: 0 auto;
  }
}
