.flex-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  background-color: #020202;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px #020202;
}

.portfolio__item {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: inherit;
  width: 100%;
  overflow: hidden;
  max-height: clamp(10px, 30vw, 400px);
  transition: all 0.2s;
  border-radius: 8px;
  position: relative;
}

.portfolio__item--active {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  max-width: inherit;
  max-height: 80vh;
  border-radius: 8px;
  transition: all 0.2s;
}

.portfolio__a-buttons {
  display: flex;
  gap: 1ch;
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: start;
  margin: 1ch;
  z-index: 1;
}

.portfolio__item img {
  display: block;
  width: calc(100% - 5px);
  object-fit: cover;
  border-left: 5px;
  border-radius: 8px;
}

.portfolio__description {
  margin: 1.5rem auto 0;
  width: 90%;
  max-width: 900px;
  border: 5px solid #efefef;
  border-radius: 8px;
  padding: 1rem;
  background-color: #020202;
  box-shadow: 5px 5px #efefef;
}

.portfolio__description-text {
  font-size: 18px;
  overflow: auto;
}

.portfolio__description-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.portfolio__techbox {
  margin: 1ch 1ch 0ch 0;
  padding: 1ch 1em;
  border-radius: 99vw;
  background-color: #efefef;
  color: #020202;
  font-weight: 600;
}

.portfolio__buttons {
  position: absolute;
  top: 5%;
  right: 5%;
  gap: 10px;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s, transform 0.3s;
}

.portfolio__item--active .portfolio__buttons,
.portfolio__item--active .portfolio__back {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.portfolio__back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 5%;
  height: 2.2rem;
  width: 2.2rem;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s, transform 0.3s;
  border: 3px solid #efefef;
  background-color: #020202;
  border-radius: 999px;
  box-shadow: 4px 4px 3px black;
}

.portfolio__back svg {
  fill: #efefef !important;
  width: 70%;
}

@media only screen and (min-width: 500px) {
  .portfolio__item {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
.skills-section {
  padding-top: 1em;
  padding-bottom: 3em;
  background-color: #020202;
  color: #efefef;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5ch;
  justify-content: center;
  margin: 0 auto;
  fill: black;
}

.skills__icon svg {
  height: clamp(50px, 10vw, 100px);
  fill: #efefef;
}

.skills__description {
  margin: 0 auto;
  text-align: center;
}

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5em;
}

.round-a-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border: 3px solid #efefef;
  border-radius: 999px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #020202;
  fill: #efefef;
  box-shadow: 5px 0px 3px black;
}

.round-a-btn span {
  position: absolute;
  background-color: #020202;
  bottom: -1em;
  width: 100%;
  font-size: 14px;
  color: white;
  text-align: center;
  border-bottom: 3px solid #efefef;
  border-left: 3px solid #efefef;
  border-right: 3px solid #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 5px 3px black;
}

a.round-a-btn svg {
  width: 2em;
  fill: #efefef !important;
}

.about {
  font-size: 1.5em;
}

.about p {
  margin-bottom: 1rem;
}

.bigger-text {
  font-size: 2em;
  font-weight: 600;
}

.big-text {
  font-size: 1.3em;
  line-height: 1.5em;
}

@media only screen and (max-width: 350px) {
  p.bigger-text {
    letter-spacing: -3px;
    font-size: 1.8em;
  }
}
footer {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 1rem;
}

footer p {
  padding-bottom: 1rem;
}

.social__item {
  height: 50px;
  width: 50px;
}

.mail svg {
  display: inline;
  height: 0.9em;
  padding: 0 0.5ch;
}

* {
  font-family: "Quicksand", sans-serif;
}

body,
html {
  min-width: 280px;
  margin: 0;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 1em 0;
  font-size: 2em;
  font-weight: 600;
}

header,
footer,
section {
  --padding: clamp(20px, 3vw, 100px);
  padding-left: var(--padding);
  padding-right: var(--padding);
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.App > *:nth-child(odd) {
  background-color: #020202;
  color: #efefef;
}

.App > *:nth-child(odd) svg {
  fill: #efefef;
}

.App > *:nth-child(even) {
  background-color: #efefef;
  color: #020202;
}

.App > *:nth-child(even) svg {
  fill: #020202;
}

.bigger-text {
  font-size: 2em;
  font-weight: 600;
}

.big-text {
  font-size: 1.3em;
}

@media only screen and (min-width: 1000px) {
  .high-width-center {
    max-width: 1000px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
