@use "./variables" as *;

.about {
  font-size: 1.5em;
}

.about p {
  margin-bottom: 1rem;
}

.bigger-text {
  font-size: 2em;
  font-weight: 600;
}

.big-text {
  font-size: 1.3em;
  line-height: 1.5em;
}

@media only screen and (max-width: 350px) {
  p.bigger-text {
    letter-spacing: -3px;
    font-size: 1.8em;
  }
}
